<nb-card style="margin: 1rem;">
  <nb-card-header>
    Ubicacion del almacen
  </nb-card-header>

  <nb-card-body>
    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <label for="latitud" class="label">Latitud:</label>
          <input type="number" id="latitud" nbInput fullWidth placeholder="Nombre comercial">
        </div>

        <div class="form-group">
          <label for="longitud" class="label">Longitud:</label>
          <input type="number" id="longitud" nbInput fullWidth placeholder="Nombre comercial">
        </div>
      </div>
    </div>
  </nb-card-body>

  <nb-card-footer>
    <button nbButton>Guardar</button>
  </nb-card-footer>
</nb-card>
