.select-css {
    width: 100%;
    background-color: #f7f9fc;
    border-color: #edf1f7;
    border-style: solid;
    border-width: 1px;
    color: #1a2138;
    font-family: Open Sans, sans-serif;
    -webkit-appearance: none;
    transition-duration: 0.15s;
    transition-property: border, background-color, color, box-shadow;
    transition-timing-function: ease-in;
    height: 38px;
    border-radius: 4px;
    padding: 0px 0px 0px 12px;
    font-weight: 600;
}