<div class="container-fluid">
  <table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col" class="cabezal placa_tipo">Placa</th>
      <th scope="col" class="cabezal placa_tipo">Tipo</th>
      <th scope="col" class="cabezal alaias_modelo">Alias</th>
      <th scope="col" class="cabezal marca">Marca</th>
      <th scope="col" class="cabezal alaias_modelo">Modelo</th>
      <th scope="col" class="cabezal carga_volumen_ano text-center">Carga max</th>
      <th scope="col" class="cabezal carga_volumen_ano text-center">Volumen</th>
      <th scope="col" class="cabezal carga_volumen_ano text-center">Año</th>
      <th scope="col" class="cabezal">Kilometraje</th>
      <th scope="col" class="cabezal proximo_service">Proximo service</th>
      <th scope="col" class="cabezal"></th>
    </tr>
  </thead>
  <tbody>
    <tr class="contenido_table">
      <th scope="row" class="">producto</th>
      <th>producto</th>
      <th>producto</th>
      <th>producto</th>
      <th>producto</th>
      <th>producto</th>
      <th>producto</th>
      <th>producto</th>
      <th>producto</th>
      <th>producto</th>
      <th class="text-center">
        <i class="fas fa-pencil-alt icono"></i>
      </th>
    </tr>
    <tr class="contenido_table fondo_blanco_table">
      <th scope="row" class="">producto</th>
      <th>producto</th>
      <th>producto</th>
      <th>producto</th>
      <th>producto</th>
      <th>producto</th>
      <th>producto</th>
      <th>producto</th>
      <th>producto</th>
      <th>producto</th>
      <th class="text-center">
        <i class="fas fa-pencil-alt icono"></i>
      </th>
    </tr>
    <tr class="contenido_table">
      <th scope="row" class="">producto</th>
      <th>producto</th>
      <th>producto</th>
      <th>producto</th>
      <th>producto</th>
      <th>producto</th>
      <th>producto</th>
      <th>producto</th>
      <th>producto</th>
      <th>producto</th>
      <th class="text-center">
        <i class="fas fa-pencil-alt icono"></i>
      </th>
    </tr>
    <tr class="contenido_table">
      <th scope="row" class="">producto</th>
      <th>producto</th>
      <th>producto</th>
      <th>producto</th>
      <th>producto</th>
      <th>producto</th>
      <th>producto</th>
      <th>producto</th>
      <th>producto</th>
      <th>producto</th>
      <th class="text-center">
        <i class="fas fa-pencil-alt icono"></i>
      </th>
    </tr>
    <tr class="contenido_table">
      <th scope="row" class="">producto</th>
      <th>producto</th>
      <th>producto</th>
      <th>producto</th>
      <th>producto</th>
      <th>producto</th>
      <th>producto</th>
      <th>producto</th>
      <th>producto</th>
      <th>producto</th>
      <th class="text-center">
        <i class="fas fa-pencil-alt icono"></i>
      </th>
    </tr>
    <tr class="contenido_table">
      <th scope="row" class="">producto</th>
      <th>producto</th>
      <th>producto</th>
      <th>producto</th>
      <th>producto</th>
      <th>producto</th>
      <th>producto</th>
      <th>producto</th>
      <th>producto</th>
      <th>producto</th>
      <th class="text-center">
        <i class="fas fa-pencil-alt icono"></i>
      </th>
    </tr>
  </tbody>
</table>
</div>